<div id="<%= dom_id post %>" class="shadow rounded p-5">
  <p class="text-muted">
    <%= post.title %>
  </p><br><br>

  <small>
    <%= post.body %>
  </small><br><br>

  <p class="text-success">
    <%= post.user.email %>
  </p>
</div>
